.home__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
}

.home__container > *:not(:last-child) {
  margin-bottom: 16px;
}

.home__name {
  width: 300px;
  display: flex;
  flex: none;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.home__logo {
  width: 300px;
  height: 300px;
}

.home__input-link {
  width: 300px;
  font-size: 16px;
  line-height: 32px;
  border: 3px solid black;
  border-radius: 0;
  box-sizing: border-box;
  background-color: white;
  padding: 0 8px;
  outline: none;
  transition: border-color 0.4s;
  text-align: center;
}

.home__input-link:focus {
  color: teal;
  border-color: teal;
}

.home__input-link:focus::placeholder {
  color: rgb(80, 160, 160);
}

.home__button-create {
  width: 300px;
  line-height: 32px;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 0;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  transition: border-color 0.4s;
}

.home__button-create:focus {
  color: teal;
  border-color: teal;
}

.home__link-qr-wrapper {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
}

.home__link-qr {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.home__link-qr:hover {
  text-decoration: underline;
}
